<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong> <%= @competition_category.name %>
</p>
<%= link_to 'Edit', edit_competition_category_path(@competition_category) %> |
<%= link_to 'Back', competition_categories_path %>
