<%= render 'shared/header', header: 'About' %>

<h3>Gregory Thaczuk</h3>

 <p class="lead">
  You can find me here:<br />
  <a href="http://github.com/thaczuk">Github</a><br />
  <a href="http://twitter.com/thaczuk">Twitter</a><br />
  <a href="http://facebook.com/thaczuk">Facebook</a><br />
</p>