%h3 Gregory Thaczuk
%h4
  %a{:href => "http://about.me/thaczuk"} About.me
%h4
  %a{:href => "http://github.com/thaczuk"} Github
%h4
  %a{:href => "http://twitter.com/thaczuk"} Twitter
%h4
  %a{:href => "http://facebook.com/thaczuk"} Facebook