
  <div class="hero-unit">
    <h1>Competition Scoring</h1>
    <p>This is a Competition Scoring system by
      <%= link_to 'Greg Thaczuk.', about_path %>
    </p>
    <p>
      <%= link_to 'Register', new_user_path, class: 'btn btn-primary btn-large' %>
    </p>
  </div>
