.hero-unit
  %h1 Competition Scoring
  %p
    A Competition Scoring system by
    = link_to 'Greg Thaczuk.', about_path
  %p
    = link_to 'Register', register_path, class: 'btn btn-primary btn-large'